<div ng-hide="Books.Translators.length" class="center padding50">
    <i class="fa fa-refresh fa-spin fa-4x"></i>
</div>

<ul class="align">

    <li ng-repeat="item in Books.Translators">
        <figure class='book' data-id="{{item.Id}}" onclick="window.location = 'translate/#/?translator=' + this.getAttribute('data-id')">
            <!-- Front -->
            <ul class='hardcover_front'>
                <li>
                    <img ng-src="/images/books-cover/{{item.Id}}.jpg" alt="{{item.Name}}" width="100%" height="100%" />
                </li>
                <li></li>
            </ul>
            <!-- Pages -->
            <ul class='page'>
                <li></li>
                <li>
                    <a class="btn" href="/translate/#/?translator={{item.Id}}">OKU!</a>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <!-- Back -->
            <ul class='hardcover_back'>
                <li></li>
                <li></li>
            </ul>
            <ul class='book_spine'>
                <li></li>
                <li></li>
            </ul>
            <figcaption>
                <h1>{{item.Name}}</h1>
                <span>Kuran</span>
                <!--<p>{{item.Name}}</p>-->
            </figcaption>
        </figure>
    </li>

</ul>